@font-face {
  font-family: 'fontello';
  src: url('../src/font/fontello.eot?49197989');
  src: url('../src/font/fontello.eot?49197989#iefix') format('embedded-opentype'),
       url('../src/font/fontello.woff?49197989') format('woff'),
       url('../src/font/fontello.ttf?49197989') format('truetype'),
       url('../src/font/fontello.svg?49197989#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?49197989#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-glyph:before { content: '\e804'; } /* '' */
.icon-glyph-1:before { content: '\e805'; } /* '' */

body{
	font-family: 'Exo 2', 'Arial', sans-serif;
	min-width: 1300px;
	margin: 0;
}
.row:after,
.row:before{
	content: "";
	display: table;
}
.row:after{
	clear: both;
}
.container{
	width: 960px;
	margin: 0 auto;
}
/*/////////////////////////////////////////////*/
				
		/*HEADER*/
				
/*/////////////////////////////////////////////*/

.header-contacts{
	font-family:'Arimo', sans-serif;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(103, 103 ,101, .75);
	padding-top: 8px;
	padding-bottom: 8px;
	z-index: 1;
}
.tel-first, .tel-second{
	font-size: 16px;
	line-height: 20px;
	display: inline-block;
	color: #fff;
	margin: 0;
	margin-left: 40px;
}
.tel-first>.icon-glyph-1, .tel-second>.icon-glyph-1{
	font-size: 26px;
	padding-left: 10px;
}
.tel-first{
	padding-right: 55px;
}
.tel-number{
	font-family: 'Exo 2', sans-serif;
	font-size: 26px;
	line-height: 50px;
	font-weight: 800;
	color: #a8d272;
}

/*/////////////////////////////////////////////*/
				
		/*PROMO*/
				
/*/////////////////////////////////////////////*/

.promo-block{
	padding-top: 143px;
	padding-bottom: 167px;
	z-index: 0;
	background-image: url(../src/img/bg_promo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}
.logo{
	position: absolute;
	top: 141px;
	left: 573px;
	display: block;
}
.free-order{
	width: 280px;
	padding-right: 294px;
	float: right;
}
.promo-text{
	font-size: 28px;
	line-height: 32px;
	font-weight: 800;
	padding-bottom: 32px;
	margin: 0;
	letter-spacing: 1.8px;
}
.promo-btn-wrapper{
	text-align: center;
	float: left;
}
.promo-btn{
	font-family:'Arimo', sans-serif;
	font-size: 12px;
	display: inline-block;
	text-decoration: none;
	color: #fff;
	padding: 15px 30px;
	background-color: #e50050;
	border-radius: 3px;
}

/*/////////////////////////////////////////////*/
				
		/*ADVANTAGES*/
				
/*/////////////////////////////////////////////*/

.advantages{
	padding-top: 40px;
	overflow: hidden;
}
.advantage-item{
	padding-top: 30px;
	display: inline-block;
	width: 22.75%;
	margin-right: 2%;
	background-color: #f6f6f6;
	text-align: center;
	float: left;	
}
.advantage-item:last-child{margin-right: 0;}
.advantage-item-title{
	font-size: 18px;
	line-height: 30px;
	color: #3c434b;
	font-weight: 800;
	position: relative;
	margin-bottom: 42px;
	margin-top: 15px;
}
.advantage-item-title:after{
	content: "";
	position: absolute;
	width: 60px;
	height: 3px;
	bottom: -23px;
	left: 80px;
	top: 38px;
	background-color: #a8d272;
}
.advantage-item-text{
	font-family:'Arimo', sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #3c434b;
	margin-top: -17px;
	margin-bottom: 20px;
}
.warranty>.advantage-item-title{
	margin-top: 8px;
	margin-bottom: 45px;
}

/*/////////////////////////////////////////////*/
				
		/*CATALOG*/
				
/*/////////////////////////////////////////////*/

.catalog{
	padding-bottom: 85px;
	overflow: hidden;
}
.catalog-title{
	text-align: center;
	font-size: 32px;
	line-height: 36px;
	font-weight: 800;
	color: #a8d272;
	margin-top: 99px;
	margin-bottom: 69px;
	position: relative;
}
.catalog-title:after{
	content: "";
	position: absolute;
	width: 60px;
	height: 3px;
	bottom: -23px;
	left: 440px;
	background-color: #a8d272;
}
.catalog-block{
	width: 31%;
	margin-right: 2%;
	overflow: hidden;
	height: 530px;	
	display: inline-block;
	margin-bottom: 30px;
	float: left;
	box-sizing: border-box;
}
.catalog-block:nth-of-type(3){margin-right: 0;}
.catalog-block:nth-of-type(6){margin-right: 0;}
.catalog-block-text-wrapper{
	position: relative;
	background-color: #e0f3c8;
	padding: 26px 20px 40px 20px;
}
.catalog-block-title{
	font-size: 26px;
	line-height: 26px;
	font-weight: bold;
	margin: 0;
	color: #3c434b;
}
.catalog-block-text{
	text-align: left;
	color: #3c434b;
	font-size: 14px;
	line-height: 22px;
	padding-bottom: 50px;
}
#country-house, #kitchen, #baby-room, #cottedge, #office, #balcony{
	display: block;
	font-size: 18px;
	cursor: pointer;
	font-size: 12px;
	line-height: 20px;
	padding-bottom: 20px;
}
#country-house-up, #kitchen-up, #baby-room-up, #cottedge-up, #office-up, #balcony-up{
	position: absolute;
	top: -20px;
	left: 0px;
	width: 300px;
	background-color: #a8d173;
	display: none;
	line-height: 30px;
	color: #253e16;
	padding-bottom: 40px;
}
.img-wrapper{
	position: relative;
	height: 200px;	
}
.catalog-block-img{
	display: block;
}
.price{
	font-family:'Arimo', sans-serif;
	position: absolute;
	top: 20px;
	right: 0;
	background-color: #a8d173;
	color: #fff;
	padding: 7px 15px;
	font-size: 20px;
}
.line{
	background-color: #3c434b;
	height: 7px;
}
.line:after{
	content: "";
	display: block;
	position: absolute;
	border: 20px solid transparent;	
	border-top: 20px solid #3c434b;
	top: 3px;
	left: 130px;
}
.more{
	position: absolute;
	top: 282px;
	left: 21px;
	color: #a8d173;
}
.more:hover{
	color: #e50050; 
}

/*/////////////////////////////////////////////*/
				
		/*INFO*/
				
/*/////////////////////////////////////////////*/

.info-block{
	background-color: #f6f6f6;
	padding-top: 75px;
	padding-bottom: 41px;
}
.info-block-item{
	display: inline-block;
	float: left;
	width: 31%;
	margin-right: 3%;
}
.info-block-item:nth-of-type(3){margin-right: 0;}
.info-picture-text{
	font-size: 14px;
	line-height: 22px;
}
.info-block-free-title{
	font-size: 32px;
	font-weight: 800;
	color: #e50050;
	margin: 0;
	line-height: 20px;
	padding-bottom: 57px;
	position: relative;
}
.info-block-convenient-title{
	font-size: 32px;
	font-weight: 800;
	color: #3c434b;
	margin: 0;
	line-height: 20px;
	padding-bottom: 57px;
	position: relative;
}
.info-block-free-title:after{
	content: "";
	position: absolute;
	width: 60px;
	height: 3px;
	bottom: 21px;
	left: 0px;
	background-color: #e50050;
}
.info-block-convenient-title:after{
	content: "";
	position: absolute;
	width: 60px;
	height: 3px;
	bottom: 21px;
	left: 0px;
	background-color: #3c434b;
}
.info-block-text{
	font-family:'Arimo', sans-serif;
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 22px;
	padding-left: 64px;
	color: #3c434b;
	position: relative;
}
.info-block-text.red:before{
	content: "";
	display: block;
	position: absolute;
	top: 3px;
	left: 0;
	width: 40px;
	height: 40px;
	background-image: url(../src/img/icon_square_red.png);
}
.info-block-text.black:before{
	content: "";
	display: block;
	position: absolute;
	top: 3px;
	left: 0;
	width: 40px;
	height: 40px;
	background-image: url(../src/img/icon_square_black.png);
}
.info-block-text:after{
	content: "";
	display: block;
	position: absolute;
	top: 5px;
	left: 2px;
	width: 35px;
	height: 35px;
	background-image: url(../src/img/icon_window.png);
}
.info-picture-text{
	font-family:'Arimo', sans-serif;
	margin-top: 3px;
	font-size: 14px;
	line-height: 22px;
	color: #3c434b;
}

/*/////////////////////////////////////////////*/
				
		/*FAIR_PRICE*/
				
/*/////////////////////////////////////////////*/

.fair-price{
	padding-top: 61px;
	padding-bottom: 51px;
}
.fair-price-wrapper{
	overflow: hidden;
	width: 700px;
	margin: 0 auto;
}
.fair-price-item{
	float: left;
	width: 31%;
	margin: 1%;
	text-align: center;
}
.fair-price-title{
	text-align: center;
	font-size: 32px;
	line-height: 63px;
	color: #a8d272;
	font-weight: 800;
	margin-bottom: 77px;
	margin-top: 0;
	position: relative;
}
.fair-price-title:after{
	content: "";
	position: absolute;
	width: 60px;
	height: 3px;
	bottom: -23px;
	left: 317px;
	top: 73px;
	background-color: #a8d272;
}
.fair-price-item-title{
	text-align: center;
	position: relative;
	font-size: 18px;
	line-height: 30px;
	color: #3c434b;
	margin-bottom: 27px;
	font-weight: 800;
	margin-top: 15px;
}
.fair-price-item-title:after{
	content: "";
	position: absolute;
	width: 60px;
	height: 3px;
	bottom: -23px;
	left: 80px;
	top: 40px;
	background-color: #a8d272;
}
.fair-price-item-text{
	font-family:'Arimo', sans-serif;
	font-size: 14px;
	line-height: 20px;
	margin-top: 30px;
	color: #3c434b;
}
.sales>.fair-price-item-title{
	margin-top: 3px;
}
.stock>.fair-price-item-title{
	margin-top: 9px;
}

/*/////////////////////////////////////////////*/
				
		/*BRANDS*/
				
/*/////////////////////////////////////////////*/

.brands{
	background-color: #e0f3c8;
	padding-top: 55px;
	padding-bottom: 19px;
}
.brands-wrapper{
	overflow: hidden;
	width: 700px;
	margin: 0 auto;
}
.brands-title{
	font-size: 32px;
	line-height: 36px;
	margin-top: 0;
	margin-bottom: 70px;
	text-align: center;
	font-weight: 800;
	position: relative;
	color: #3c434b;
	letter-spacing: 1.8px;
}
.brands-title:after{
	content: "";
	position: absolute;
	width: 60px;
	height: 3px;
	bottom: -23px;
	left: 455px;
	background-color: #3c434b;
}
.brands-item{
	display: inline-block;
	float: left;
	width: 29%;
	margin-right: 6.5%;
	line-height: 94px;
	text-align: center;
}
.brands-item:nth-of-type(3){margin-right: 0;}

/*/////////////////////////////////////////////*/
				
		/*FOOTER*/
				
/*/////////////////////////////////////////////*/

.footer{
	font-family:'Arimo', sans-serif;
	background-color: #a8d272;
	padding-top: 40px;
	padding-bottom: 22px;
	overflow: hidden;
}
.footer-item{
	width: 32%;
	margin-right: 1%;
	overflow: hidden;
	display: inline-block;
	float: left;
	padding-left: 27px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.footer-item:nth-of-type(2){padding-left: 60px;}
.footer-item:nth-of-type(3){margin-right: 0;}
.footer-address{
	font-size: 16px;
	line-height: 20px;
	color: #3c434b;
	margin: 0;
}
.footer-address span{
	font-weight: bold;
}
.footer-tel{
	font-family: 'Exo 2', sans-serif;
	color: #3c434b;
	margin: 0;
}
.footer-tel span{
	font-size: 26px;
	line-height: 50px;
	font-weight: 800;

}
.mail{
	font-size: 20px;
	line-height: 21px;
	color: #3c434b;
	margin-top: 0;
	margin-bottom: 15px;
}
.send-letter{
	text-decoration: underline;
	color: #3c434b;
	padding-left: 42px;
}
.footer-tel>.icon-glyph-1, .mail>.icon-glyph{
	font-size: 26px;
}







